html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
header {
    padding-top: 9.5rem;
    padding-bottom: 6rem;
    background-color:green;
}
body {
  margin-bottom: 60px;
}

.titleType {
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: left;
    


}


.repositoriImagesContainer {
    align-items: center;
    justify-content: center;
}
.logoRepositori {
    width: 100%;
    height: 10vw;
}

.Spall {
    background-color: black;
    color: yellow;
}

.Ramis {
    background-color: darkslategrey;
    color: white;
}



.Pia {
    background-color: darkgreen;
    color: lightgreen;
}
.Caldes {
    background-color: royalblue;
    color: white;
}
.Vacarisses {
    background-color: darkred;
    color: white;
}
.Riude {
    background-color: darkblue;
    color: white;
}
.SantaPerpetua {
    background-color: white;
    color: darkred;
    border-style: solid;
    border-color: darkred;
}
.Pineda {
    background-color: white;
    color: darkred;
    border-style: solid;
    border-color: darkred;
}
.Racing {
    background-color: goldenrod;
    color: black;
}
.Mataro {
    background-color: darkred;
    color: darkblue;
}
.Vacarisses {
    background-color: darkred;
    color: white;
}
.Vilafant {
    border-style: solid;
    border-color: black;
}

.Arrahona {
    background-color: orange;
}

.Sils {
    background-color: black;
    color: white;
}

.Montcada {
    background-color: red;
}



h1 {
    text-align: center;
    text-justify: inter-word;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

.logoRival {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}
.textTitle {
    font-family: Arial;
    font-size: 40px;
    width: 100%;
    height: 50px;
    color: white;
}

/* Botón Subir */
.toTop {
    border: none;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    /* posición */
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
}

    .toTop:not(.is-visible) {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-2rem);
    }

    .toTop svg {
        stroke-width: 3px;
        stroke: currentColor;
        fill: none;
        width: 24px;
    }
/* Personalizar */
.toTop {
    background-color: #252525;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: #fff;
}