@page
@model VideoModel
@{
    ViewData["Title"] = "Gestió grupal";
}

<button class="toTop" id="toTop">
    <svg viewBox="0 0 24 24">
        <path d="m4 16 8-8 8 8"></path>
    </svg>
</button>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-section bg-warning">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">

                    <img class="logoRival logo" src="~/img/ManlleuLogo.png" height="100" width="80" />
                    <p>
                        <h1>Gestió grupal</h1>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">Gestión individual (Entrenador)</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <h3><b>Motivación de todos los jugadores/as:</b></h3>
                    <br />
                    <h5>- Sesiones dinámicas y atractivas</h5>
                    <h5>- Ayudar y normalizar la frustración del enfado</h5>
                    <h5>- Gestión de la competición (minutaje)</h5>
                    <h5>- Sesiones extradeportivas (dinámicas de grupo)</h5>
                </div><div class="col-md-6 ">
                    <h3><b>Conocer a la persona para poder comprender-lo:</b></h3>
                    <br />
                    <h5>- Implicación de conocer al jugador</h5>
                    <h5>- Reuniones y charlas individuales</h5>
                    <h5>- Dinámicas de análisis individual(post entrenamiento)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">Gestión grupal (Entrenador)</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    <h3>
                        <b>
                            IDEA DE JUEGO (Exponer y desarrollar con el grupo)
                            :
                        </b>
                    </h3>
                    <br />
                    <h5>- Actor principal es el jugador</h5>
                    <h5>- Constante crítica y mejora de la idea</h5>
                    <h5>- Como transmitimos esa idea</h5>
                    <h5>- Condicionaremos nuestros entrenamientos/ tareas para potenciar o facilitar que la idea se lleve a cabo</h5>
                    <h5>- Capacidad para mejorar la idea de juego ideas grupales</h5>
                
            </div>
        </div>
        </div>

        <br />
        <br />
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                        <h3 class="heading-92913 text-center">Gestión grupal</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 ">
                        <h3>
                            <b>REGIMEN INTERNO(establecido)</b>
                        </h3>
                        <br />
                        <h5>- Puntualidad</h5>
                        <h5>- Vestimenta</h5>
                        <h5>- Indisciplina</h5>
                        <h5>
                            - Dinámicas de grupo
                        </h5>
                        <h5>
                            - ¿Cómo hacemos si no se cumplen? ¿Qué seguimiento utilizamos? ¿Quién se encarga? Pondremos multas…
                        </h5>

                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12 ">
                        <h3>
                            <b>
                                Gestión del conflicto
                            </b>
                        </h3>
                        <br />
                        <h5>- Mediador de los conflictos Capitanes y cuerpo técnico</h5>
                        <h5>
                            - Conflicto con el entrenador tenemos a componentes del cuerpo técnico y/o capitanes de los cuales pueden ser los mediadores
                        </h5>
                        <h5>- Los conflictos se resuelven los días de entrenamiento con charlas antes del mismo entrenamiento, nada de discusiones en el partido ni nada por el estilo que pueda afectar al equipo</h5>
                        <h5>
                            - Los conflictos entre jugadores podremos mediar cuerpo técnico y capitanes
                        </h5>
                        <h5>
                            - Cualquier cosa conflicto, duda etc. Siempre estaremos a disposición de la plantilla el cuerpo técnico antes de cada sesión nosotros estaremos entre 30 y 40 minutos antes de la sesión

                        </h5>

                    </div>

                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12 ">
                        <h3>
                            <b>
                                REUNIONES GRUPALES

                            </b>
                        </h3>
                        <br />
                        <h5>
                            - Todos los jugadores deben de tener parte en todas las reuniones grupales
                        </h5>
                        <h5>
                            - Todos pueden exponer su causa pero siempre con respeto al grupo y al cuerpo técnico
                        </h5>
                        <h5>
                            - Grupo de capitanes reuniones semanales más o menos
                        </h5>
                        <h5>
                            - Cuerpo técnico reuniones cada sesión al terminar para valorar la sesión y el comportamiento y trabajo del jugador
                        </h5>
                        <h5>
                            - Dejamos que los jugadores puedan opinar, pero luego quien toma las decisiones es el entrenador con el cuerpo técnico y hay que aceptar
                        </h5>

                    </div>
                </div>
                    <br />
                    <br />
                <div class="row">
                    <div class="col-md-12 ">
                        <h3>
                            <b>
                                REFLEXIÓN INDIVIDUAL O COLECTIVA
                            </b>
                        </h3>
                        <br />
                        <h5>
                            - El cuerpo técnico ara valoraciones en cada sesión de entrenamiento y partido
                        </h5>
                        <h5>
                            - Estas valoraciones se podrán hacer individual o grupal
                        </h5>
                        <h5>
                            - Cada semana se hará una valoración de nuestro scouting del equipo respecto al partido anterior y un scouting del rival
                        </h5>
                    </div>
                </div>
                    <br />
                    <br />
                <div class="row">
                    <div class="col-md-12 ">
                        <h3>
                            <b>
                                DINAMICAS COLECTIVAS
                            </b>
                        </h3>
                        <br />
                        <h5>
                            - Muy importante hacer cosas juntos también fuera del futbol sala
                        </h5>
                        <h5>
                            - Dinámicas de equipo
                        </h5>
                        <h5>
                            - Después de cada partido en casa obligado tomarse todos algún refresco se gane o se pierda
                        </h5>
                        <h5>
                            - Si se pudiera cada jueves después del entrenamiento poder cenar juntos etc
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/site.js"></script>




    <script src="js/main.js"></script>

</body>