@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="container font-colopx-4 text-center">
        sdsd
    </div>
</header>
<section>
    <div class="text-center bg-light">
        <h1>Hello, worldWDWD!</h1>
        <p>The time on the server is @DateTime.Now</p>
    </div>
</section>
