@page
@model VideoModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<button class="toTop" id="toTop">
    <svg viewBox="0 0 24 24">
        <path d="m4 16 8-8 8 8"></path>
    </svg>
</button>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-section bg-warning">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">

                    <img class="logoRival logo" src="~/img/ManlleuLogo.png" height="100" width="80" />
                    <p>
                        <h1>Sistema defensiu</h1>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        INTRODUCCIÓN AL ENTRENADOR
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    <img class="logoRival logo" src="~/img/Entrenador.png"  />
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    </br>
                    <h3><b>OBJETIVO EQUIPO: </b>Invasiva en espacio y tiempo</h3>
                    <h3><b>OBJETIVO CLUB: </b>Consolidar el proyecto del sènior en tercera nacional (crecimento de la base).</h3>
                    <h3><b>OBJETIVO TEMPORADA 2024-25: </b>Intentar ascender a categoría 3er Nacional, desde la dirección deportiva del club se ha decidido que hay que intentar lograr el ascenso, viendo plantilla y recursos para la temporada 24-25.</h3>

                    <br />
                    <h3><b>INICIO PRETEMPORADA:   </b>26-09-2014</h3>
                    <h3><b>INICIO LIGA:   </b>18-10-2014</h3>
                    <br />
                    <h3><b>CUERPO TECNICO:  </b></h3>
                    <h5>- Tenemos un cuerpo tecnico de 4 persones (primer entrenador, segundo entrenador mas preparador porteros, delegado y analista)</h5>
                    <h5>- No tenemos preparador fisico</h5>
                    <h5>- Entrenamos 3 dies semanales</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        CONTEXTUALIZACIÓN CEFSMANLLEU CATEGORÍA DIVISIÓN DE HONOR GRUPO 1
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    <img class="logoRival logo" src="~/img/EquipiRecursos.png" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="site-section bg-warning">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <p>
                        <h1>MODELO DE JUEGO : </h1>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        IDEA DE JUEGO
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    </br>
                    <h3>Esta será nuestra idea de juego, hay varias fases y aspectos en cada situación del juego, nosotros con nuestro modelo de juego queremos que establezcan unas funciones en forma colectiva para crear nuestro modelo de juego.</h3>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        SISTEMAS DE JUEGO
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    </br>
                    <h3><b>Ataque posicional: </b>3-1 con pívot (fijo, móvil falso pívot) también utilizaremos
                        4-0, pasamos del 3-1 al 4-0.</h3>
                    <h3><b>Jugadas prefabricadas </b></h3>
                    <h3><b>Defensa individual: </b>Defensa Individual con cambios (pelota apretada)
                        en altura(28 -30 M).</h3>
                    <h3>
                        <b>Defensa posicional:   </b>Individual en media pista.
                    </h3>
                    <h3>
                        <b>Transiciones ofensivas: </b>Buscar la inmediatez del movimiento de apertura para impedir el
                        rearme defensivo.
                    </h3>
                    <br />
                    <h3><b>Transiciones defensivas: </b> Temporizar hasta poder dividir y ahogar hacia una banda.</h3>
                    <h3>
                        <b>ABP ofensivas:  </b> Atacar la defensa Individual generalizada en la Liga
                    </h3>
                    <h3>
                        <b>ABP corners def: </b> Zonal 2-1-1 evitando pelota interior nos arriesgamos a tiros
                        desde fuera (tiro exterior).
                    </h3>
                    <h3><b>Situaciones especiales ofensivas: </b> Temporizar hasta poder dividir y ahogar hacia una banda.</h3>
                    <h3><b>Situaciones especiales  defensivas: </b> 1-2-1 hacia 2-2 con balón en banda en 4x5.</h3>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    <img class="logoRival logo" src="~/img/modelAtacDefensa.png" />
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        ESTADISTICAS Y ANALISIS DE LAS PRIMERAS 5 SEMANAS DE PRTEMPORADA
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <img class="logoRival logo" src="~/img/taulaModelJoc.png" />
                </div>
                <div class="col-md-6 ">
                    <img class="logoRival logo" src="~/img/graficModelJoc.png" />
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        ESTADISTICAS Y ANALISIS DE LAS PRIMERAS 5 SEMANAS DE PRTEMPORADA
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    </br>
                    <h3><b>Ataque Posicional: </b> Sistema 3-1 con Pívot (centrado semicentrado, móvil falso pívot). Sistema 4-0 buscamos en los dos sistemas amplitud más profundidad.</h3>
                    <h3> Cortina, bloqueos continuación.</h3>
                    <h3>Conexión con pívot + entrada.</h3>
                    <h3>Sobrecarga utilizando falso pívot.</h3>
                    <h3>Giros de juego más conexión</h3>
                    <h3>Triángulos ofensivos</h3>
                    <h3>
                        Profundidad-Amplitud
                    </h3>
                    <h3>
                        Fundamentos (control orientado, orientación corporal, fijar, pase, pisada, etc..)
                    </h3>
                    <h3>
                        <b>Transiciones ofensivas: </b> Buscar la inmediatez del mov. de apertura para impedir el rearme defensivo.
                    </h3>
                    <h3>
                        Movimiento de apertura
                    </h3>
                    <h3>
                        Finalización en 2º palo
                    </h3>
                    <h3><b>ABP ofensivas: </b> 1-2-1 hacia 2-2 con balón en banda en 4x5.</h3>
                    <h3>
                        Córneres atacar la defensa zonal en córner generalizada en la liga
                    </h3>
                    <h3><b>Atacar la defensa Individual generalizada en la Liga(bandas): </b> Continuaciones a los bloqueos.</h3>
                    <h3>
                        Pegada, exterior
                    </h3>
                    <h3><b>Situaciones especiales  ofensivas: </b> Pirámide y sobrecarga en 5x4</h3>
                    <h3>
                        Salto de líneas
                    </h3>
                    <h3>
                        Transformación de sistemas.
                    </h3>
                    <h3>
                        Salidas de presión: 3-1 4-0
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/site.js"></script>




    <script src="js/main.js"></script>

</body>