@page
@model PrivacyModel
@{
    ViewData["Title"] = "Spall Mataró";
}

<button class="toTop" id="toTop">
    <svg viewBox="0 0 24 24">
        <path d="m4 16 8-8 8 8"></path>
    </svg>
</button>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section Spall">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">

                    <img class="logoRival logo" src="~/img/SpallMataro.png" height="100" width="100" />
                    <p>
                        <h1>Spall Ciutat de Mataró</h1>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-12 text-center Spall">
                    <h3 class="heading-92913 text-center">Sistema de joc</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Van canviant de sistema de joc a un 2-2, 4-0 i 3-1, no tenen un sistema clar o uns moviments mecànics com el Montcada,
                        disposen de molts recursos per sortir de pressió sobretot quan estan el 9 i 99 al camp.
                    </p>
                    <p>
                        Dit això quan no estan al camp solen començar amb un 4-0 o 2-2 on fan rotació en diagonal quan estan 2-2 i en vertical quan estan 4-0
                    </p>
                    <p>
                        <img src="~/img/2-2.gif" alt="Image" class="img-fluid">
                    </p>
                </div>
                <div class="col-md-6 ">
                    <img src="~/img/4-0.gif" alt="Image" class="img-fluid" style="display: block; margin: auto; " height="250" width="250">
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-yacht"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-shield"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-captain"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-yacht"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-shield"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-captain"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Un cop fan unes quantes rotacions un jugador es quedarà de pivot (normalment l'11 o el 99) 
                        i allà buscaran fer una paret amb el pivot si poden, sigui paral·lela o una diagonal (depèn de si el pivot se'n va a banda o es queda al mig),
                        si no veuen passe tornen als 2 esquemes anteriors.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Quan no tenen la bola generalment pressionen, són bons fent-ho, però com tota pressió alta, hi haurà forats a l'esquena, hem d'aprofitar que som ràpids.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row align-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-yacht"></span>
                        </span>
                        <video width="400" class="centerVideo" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <p>
                        En cas de recuperar bola les seves transicions defensa-atac són molt ràpides i les fan mecànicament, el que té la bola al mig, intenten fer una passada a la banda i després a l'altre ràpidament.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-yacht"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-shield"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-29283">
                        <span class="wrap-icon-39293">
                            <span class="flaticon-captain"></span>
                        </span>
                        <video width="400" controls>
                            <source src="~/video/prova1.mp4" type="video/mp4">
                            <source src="~/video/prova1.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-12 text-center Spall"> 
                    <h3 class="heading-92913 text-center">Jugadors a tenir en compte</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="~/img/SamarretaMataro9.png" alt="Image" class="img-fluid">
                        <div class="p-4">
                            És amb diferència jugador més perillós que tenen, trepitja molt bé la bola, té bon tir i no és dolent en els 1 vs 1,
                            però el perill més gran que té és que manté el cap fred sempre i no sol fer quasi ni una errada, tàcticament és el millor
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="~/img/SamarretaMataro99.png" alt="Image" class="img-fluid">
                        <div class="p-4">
                            És un pivot gran que aguanta bé les esquenes, quan estigui ell al camp es posaran bastants vegades a un 3-1, o directament començaran amb el pivot estirat

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="~/img/SamarretaMataro9.png" alt="Image" class="img-fluid">
                        <div class="p-4">
                            jugador ràpid amb bon regat i 1vs1, vigilar en entrar a robar alguna bola
                        </div>
                    </div>
                </div>
            </div>

 
    <!-- .site-wrap -->
    <!-- loader -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/site.js"></script>




    <script src="js/main.js"></script>

</body>