@page
@model VideoModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<button class="toTop" id="toTop">
    <svg viewBox="0 0 24 24">
        <path d="m4 16 8-8 8 8"></path>
    </svg>
</button>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-section bg-warning">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">

                    <img class="logoRival logo" src="~/img/ManlleuLogo.png" height="100" width="80" />
                    <p>
                        <h1>Sistema defensiu</h1>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">Identidad del equipo</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <h3><b>OBJETIVOS DE LA DEFENSA</b></h3>
                    <br />
                    <h5>- Defender tu porteria/ Evitar la progresión</h5>
                    <h5>- No ceder el control/ protagonismo del juego</h5>
                    <h5>- Atacar des de la defensa</h5>
                </div><div class="col-md-6 ">
                    <h3><b>PUNTOS INNEGOCIABLES</b></h3>
                    <br />
                    <h5>- TODOS defendemos</h5>
                    <h5>- La intensidad no se modifica</h5>
                    <h5>
                        - La defensa es cooperativa
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="site-section bg-warning">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <p>
                        <h1>FUNDAMENTOS DEFENSIVOS</h1>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        DEFENSA INDIVIDUAL CON CAMBIOS (EN ALTURA)
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <h3><b>OBJETIVOS DE LA DEFENSA</b></h3>
                    <br />
                    <h5>
                        - Invasiva en espacio y tiempo
                    </h5>
                    <h5>
                        - Roba el pensamiento ofensivo del rival
                    </h5>
                </div><div class="col-md-6 ">
                    <h3><b>Qué produce</b></h3>
                    <br />
                    <h5>- POSAR VIDEO</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center  bg-warning">
                    <h3 class="heading-92913 text-center">
                        ANTES DE LA RECEPCIÓN DEL BALÓN O SIN QUE SE LLEGUE A PRODUCIR
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/site.js"></script>




    <script src="js/main.js"></script>

</body>