@page
@model VideoModel
@{
    ViewData["Title"] = "Biblioteca de videos";
}

<button class="toTop" id="toTop">
    <svg viewBox="0 0 24 24">
        <path d="m4 16 8-8 8 8"></path>
    </svg>
</button>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 align-items-center">
                    <p>
                        <h1>Repositori de partits</h1>
                    </p>
                    <div class="col-md-12 d-flex repositoriImagesContainer">

                        <div>
                            <img class="logoRival logo logoRepositori" src="~/img/ManlleuLogo.png" />
                        </div>
                        <div >
                            <img class="logoRival logo logoRepositori" src="~/img/SantJuliaDeRamis.png" />
                        </div>
                        <div >
                            <a href="#Vilafant">  <img class="logoRival logo logoRepositori" src="~/img/Vilafant.png" /></a>
                        </div>
                        <div >
                            <a href="#Sils"> <img class="logoRival logo logoRepositori" src="~/img/Sils.png" /> </a>
                        </div>
                        <div >
                            <img class="logoRival logo logoRepositori" src="~/img/Pia.png" />
                        </div>
                        <div >
                            <img class="logoRival logo logoRepositori" src="~/img/Caldes.png" />
                        </div>
                        <div >
                            <img class="logoRival logo logoRepositori" src="~/img/Vacarisses.png" />
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 d-flex repositoriImagesContainer">

                        <div >
                            <img class="logoRival logo logoRepositori" src="~/img/Riudellots.png" />
                        </div>
                        <div>
                            <a href="#arrahona"> <img class="logoRival logo logoRepositori" src="~/img/arrahona.png" /></a>
                        </div>
                        <div>
                            <img class="logoRival logo logoRepositori" src="~/img/racingPineda.png" />
                        </div>
                        <div>
                            <img class="logoRival logo logoRepositori" src="~/img/santaPerpetua.png" />
                        </div>
                        <div>
                            <a href="#Montcada"><img class="logoRival logo logoRepositori" src="~/img/Montcada.png" /></a>
                        </div>
                        <div>
                            <img class="logoRival logo logoRepositori" src="~/img/Pineda.png" />
                        </div>
                        <div>
                            <img class="logoRival logo logoRepositori" src="~/img/Mataro.png" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Arrahona" class="col-md-12 text-center Arrahona">
                    <h3 class="heading-92913 text-center">Arrahona</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/2FqeKR1P2aM"><span class="icon-room mr-1 text-primary"></span> Arrahona - Montcada </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 7 &mdash; 15/09/24
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/2FqeKR1P2aM"><span class="icon-room mr-1 text-primary"></span> Arrahona - Mataró</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                jornada10 &mdash; 10/01/2025
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/2FqeKR1P2aM"><span class="icon-room mr-1 text-primary"></span> Sils - Arrahona</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 15 &mdash; 01/04/25
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Sils" class="col-md-12 text-center Sils">
                    <h3 class="heading-92913 text-center">Sils</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Pineda - Sils </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 7 &mdash; 15/09/24
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Racing Pineda - Sils</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                jornada10 &mdash; 10/01/2025
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Montcada - Sils</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 15 &mdash; 01/04/25
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5 ">
                <div id="Vilafant" class="col-md-12 text-center Vilafant">
                    <h3 class="heading-92913 text-center">Vilafant</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Unió - Caldes </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 7 &mdash; 15/09/24
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Unió - Arrahona</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                jornada10 &mdash; 10/01/2025
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Riudellots - Unió</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 15 &mdash; 01/04/25
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Montcada" class="col-md-12 text-center Montcada">
                    <h3 class="heading-92913 text-center">Montcada</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Pineda - Montcada </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 7 &mdash; 15/09/24
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Montcada - Pia</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                jornada10 &mdash; 10/01/2025
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/rVisJmcVS1I"><span class="icon-room mr-1 text-primary"></span> Montcada - Caldes</a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 15 &mdash; 01/04/25
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- .site-wrap -->
    <!-- loader -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/site.js"></script>




    <script src="js/main.js"></script>

</body>