@page
@model VideoModel
@{
    ViewData["Title"] = "Biblioteca de videos";
}

<button class="toTop" id="toTop">
    <svg viewBox="0 0 24 24">
        <path d="m4 16 8-8 8 8"></path>
    </svg>
</button>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 align-items-center">
                    <p>
                        <h1>Repositori de partits</h1>
                    </p>
                    <div class="col-md-12 d-flex repositoriImagesContainer">

                        <div>
                            <a href="#Manlleu"><img class="logoRival logo logoRepositori" src="~/img/ManlleuLogo.png" /></a>
                        </div>
                        <div >
                            <a href="#Ramis"> <img class="logoRival logo logoRepositori" src="~/img/SantJuliaDeRamis.png" /></a>
                        </div>
                        <div >
                            <a href="#Vilafant">  <img class="logoRival logo logoRepositori" src="~/img/Vilafant.png" /></a>
                        </div>
                        <div >
                            <a href="#Sils"> <img class="logoRival logo logoRepositori" src="~/img/Sils.png" /> </a>
                        </div>
                        <div >
                            <a href="#Pia"> <img class="logoRival logo logoRepositori" src="~/img/Pia.png" /></a>
                        </div>
                        <div >
                            <a href="#Caldes"> <img class="logoRival logo logoRepositori" src="~/img/Caldes.png" /></a>
                        </div>
                        <div >
                            <a href="#Vacarisses">  <img class="logoRival logo logoRepositori" src="~/img/Vacarisses.png" /></a>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 d-flex repositoriImagesContainer">

                        <div >
                            <a href="#Riude"> <img class="logoRival logo logoRepositori" src="~/img/Riudellots.png" /></a>
                        </div>
                        <div>
                            <a href="#arrahona"> <img class="logoRival logo logoRepositori" src="~/img/arrahona.png" /></a>
                        </div>
                        <div>
                            <a href="#Racing">  <img class="logoRival logo logoRepositori" src="~/img/racingPineda.png" /></a>
                        </div>
                        <div>
                            <a href="#SantaPerpetua"><img class="logoRival logo logoRepositori" src="~/img/santaPerpetua.png" /></a>
                        </div>
                        <div>
                            <a href="#Montcada"><img class="logoRival logo logoRepositori" src="~/img/Montcada.png" /></a>
                        </div>
                        <div>
                            <a href="#Pineda"> <img class="logoRival logo logoRepositori" src="~/img/Pineda.png" /></a>
                        </div>
                        <div>
                            <a href="#Mataro"> <img class="logoRival logo logoRepositori" src="~/img/Mataro.png" /></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="arrahona" class="col-md-12 text-center Arrahona">
                    <h3 class="heading-92913 text-center">Arrahona</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                @* <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://youtu.be/2FqeKR1P2aM"><span class="icon-room mr-1 text-primary"></span> Arrahona - Montcada </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Jornada 7 &mdash; 15/09/24
                            </div>
                        </div>
                    </div>
                </div> *@
                



            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Sils" class="col-md-12 text-center Sils">
                    <h3 class="heading-92913 text-center">Sils</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                


            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5 ">
                <div id="Vilafant" class="col-md-12 text-center Vilafant">
                    <h3 class="heading-92913 text-center">Vilafant</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                

            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Montcada" class="col-md-12 text-center Montcada">
                    <h3 class="heading-92913 text-center">Montcada</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
               


            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Ramis" class="col-md-12 text-center Ramis">
                    <h3 class="heading-92913 text-center">Sant Julià de Ramis</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Pia" class="col-md-12 text-center Pia">
                    <h3 class="heading-92913 text-center">Escola Pia Sabadell</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Caldes" class="col-md-12 text-center Caldes">
                    <h3 class="heading-92913 text-center">Caldes</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Vacarisses" class="col-md-12 text-center Vacarisses">
                    <h3 class="heading-92913 text-center">Vacarisses</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Riude" class="col-md-12 text-center Riude">
                    <h3 class="heading-92913 text-center">Riudellots</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Racing" class="col-md-12 text-center Racing">
                    <h3 class="heading-92913 text-center">Pura Brasa Racing Pineda</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="SantaPerpetua" class="col-md-12 text-center SantaPerpetua">
                    <h3 class="heading-92913 text-center">Santa Perpètua</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Mataro" class="col-md-12 text-center Mataro">
                    <h3 class="heading-92913 text-center">Futsal Mataró</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Pineda" class="col-md-12 text-center Pineda">
                    <h3 class="heading-92913 text-center">Pineda de Mar</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div id="Manlleu" class="col-md-12 text-center bg-warning">
                    <h3 class="heading-92913 text-center">Manlleu</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://www.youtube.com/watch?v=PrupzTrbIQA&ab_channel=albertcardenas"><span class="icon-room mr-1 text-primary"></span> Andorra - Manlleu </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Amistós 1Part &mdash; 31/08/24
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <div class="p-4">
                            <h3 class="heading-92913 text-center"><a href="https://www.youtube.com/watch?v=S2s303YP2Hs&ab_channel=albertcardenas"><span class="icon-room mr-1 text-primary"></span> Andorra - Manlleu </a></h3>
                            <div class="mr-auto heading-92913 text-center">
                                <span class="icon-date_range"></span>
                                Amistós 2Part &mdash; 31/08/24
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/site.js"></script>




    <script src="js/main.js"></script>

</body>